.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.am-search {
  border-radius : 10px
}

div.am-search-input {
    background-color: #efeff4;
}

div.am-navbar-light .am-navbar-title {
    color: black;
}

div.am-navbar-light {
    background-color: #FFFFFF;
}

.am-list-header {
    padding: 15px 15px 9px 30px;
    text-align: left;
}

.am-list-item .am-list-line .am-list-content {
line-height : 1.0;
}

.am-list-item .am-list-line {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left : 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
